@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* ROOT VARIABLES WILL GO HERE FOR COLORS */

body{
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(43, 41, 41);
    color: white;
    line-height: 1.6;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

/* Nav */
nav {
   height: 40px;
   width: 100%;
   background-color: black;
   position: fixed;
   top: 0;

}
nav ul{
    width: 100%;
    padding-left: 10px;
    background-color: black;
    overflow: hidden;
    margin: 0;
}

 nav li{
     float: left;
 }

 nav li a{
     display: block;
     margin-right: 30px;
     padding: 14px 16px;
     
     
 }

 nav li a:hover{
    background-color: cyan;
 }






/* Showcase */

#showcase{
    display: grid;
}