@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* ROOT VARIABLES WILL GO HERE FOR COLORS */

body{
    font-family: 'Fira Sans', sans-serif;
    background-color: rgb(43, 41, 41);
    color: black;
    line-height: 1.6;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

/* Nav */
nav {
   height: 40px;
   width: 100%;
   background-color: black;
   position: fixed;
   top: 0;
   /* display: none; */
   

}
nav ul{
    width: 100%;
    padding-left: 10px;
    background-color: black;
    overflow: hidden;
    margin: 0;
}

 nav li{
     float: left;
 }

 nav li a{
     display: block;
     margin-right: 30px;
     padding: 14px 16px;
     
     
 }

 nav li a:hover{
    background-color: cyan;
 }

/* #showcase{
    background-color: darkorange;
} */

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(40px, auto);
    background-color: white;
}

.section-heading{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;

}

/* SHOWCASE */

#top-margin{
    grid-column-start: 1;
    grid-column-end: 4;
}

#photo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 12;
    /* background-color: darkorchid; */
}

#lindsay-photo{
    max-width: 100%;
    min-width: 400px;
    display: flex;
}

#my-name{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    /* background-color: pink; */
    text-align: center;  
}

#self-description{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
    /* background-color:blue; */
    text-align: center; 
    padding: 15px;
}

/* PROJECTS */

#projects-title{
    background-color: darkgray;
    color: white;
    
}
.project-title{
    text-align: center;
    padding: 75px 0;
}

.project-title a{
    color: black;
    font-size: 1.5rem;
}

