@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* ROOT VARIABLES WILL GO HERE FOR COLORS */
*{
    box-sizing: border-box;
}
:root{
    --primary-color: rgb(48, 47, 47);
    --primary-color-hover: rgb(62, 125, 202); 
    --secondary-color: black;
    --light-color: white;
}

body{
    font-family: 'Fira Sans', sans-serif;
    /* background-color: rgb(43, 41, 41); */
    color:var(--secondary-color);
    line-height: 1.6;
    margin: 0;
    min-width: 850px
}

a{
    text-decoration: none;
    color: var(--light-color);
}

.project-text a{
    font-size: 1rem;
    color: var(--primary-color-hover);
}

ul {
    list-style: none;
}

/* Nav */
nav {
   width: 100%;
   background-color: var(--secondary-color);
   position: fixed;
   top: 0;
   z-index: 10;;
}

nav ul{
    width: 100%;
    min-width: 850px;
    padding-left: 10px;
    background-color: var(--secondary-color);
    overflow: hidden;
    margin: 0;
}

 nav li{
     float: left;
 }

 nav li a{
     display: block;
     margin-right: 30px;
     padding: 14px 16px;
 }

 a:hover{
    background-color:var(--primary-color-hover);
    color: var(--secondary-color);
 }

.container{
    background-color: var(--light-color);
}

.section-heading{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

/* SHOWCASE */

#showcase-container{
    margin-top: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#showcase-photo{
    width: 33%;
    min-width: 500px;
    padding: 30px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#showcase-words{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lindsay-photo{
    /* height: 100%; */
    width: 400px;
    height: 400px;
    background-image: url('lindsay-black-white.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;  
}

.big-title { 
    font-size: 60px;
    text-align: center;
}

#description{
    font-size: 20px;
    text-align: center;
}

/* PROJECTS */

#projects-container{
    background: url('lines-of-code-2653362.jpg') no-repeat center/cover;
    display: flex;
    flex-direction: row;
}

#projects-title {
    background-color: var(--secondary-color);
    color:var(--light-color);
}

#projects-title>h1{
    margin: 0px;
}

.project{
    text-align: center;
    padding: 75px 0;
    width: 33%;

}

.project>a{
    color:var(--light-color);
    font-size: 1.5rem;
    background-color:var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.project a:hover{
    background-color:var(--primary-color-hover);
    color: var(--secondary-color);
 }

.paragraph{
    background-color: var(--primary-color);
    opacity: 90%;
    margin: 10px;
    border-radius: 5px;
}

.project-text{
    color:var(--light-color);
    opacity: none;
    padding: 10px;
}

/* ABOUT ME */

#about-me>h1{
    margin: 0px;
}
#about-container{
    text-align: center;
    padding-top: 40px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-me-link{
    color: var(--secondary-color);
}

#about-sec-1{
    /* width: 200px; */
    /* padding: 200px 50px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 33%;
}

#about-sec-1 h1{
    display: block;
    
}

#about-sec-2{
    background: url('Vanna-oh-timbrr.jpeg') no-repeat center/cover;
    margin: 10px;
    height: 500px;
    min-width: 33%;
    
    
}

#about-sec-3{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}

#about-sec-3>p{
    display: block;
    margin-left: 15px;
    max-height: 400px;
    overflow: scroll;
    
}




/* WHAT'S NEXT */
#next{
    padding-top: 40px;
}

#next-container{
    background: url('ballpen-blur-close-up-computer-461077.jpg') no-repeat center/cover;
}

#next-title{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.next-sec{
    text-align: center;
    margin: 40px 5px;
}

#next-container{
    min-width: 950px;
}

#next-container h3{
    background-color: var(--primary-color);
    margin: 10px 55px;
    padding: 5px, 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    color: var(--light-color);
}

/* CONTACT */

#contact-container{
    grid-template-columns: 1fr 1fr;
    background-color:var(--secondary-color);
    color: var(--light-color);
}

#contact-sec-1{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0px 0px 20px 0px;
    
}

form{
    margin: 0px 100px;
}

input{
    font-size: 1rem;
    padding: 0px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: none;
    height: 30px;
}

.form-section input{
    width: 100%;
}

#submit-div{
    text-align: center;
}
#submit-btn{
    margin-top: 10px;
    padding: 5px 10px;
}
#contact-sec-2{
    margin: 0px 40px;
}

/* FOOTER */

#footer p{
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--light-color);
    margin: 0px 0px; 
    /* height: 60px; */
    padding: 20px 0px;
}

/* 
@media Bigger than 12300~ px */


